*
{
	margin: 0;
	padding: 0;
	/*font-family: */
	box-sizing: border-box;
}

nav
{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	
	padding-left: 0px;
	padding-right: 50px;
	
	z-index: 1;
	display: flex;
	align-items: center;
	background: #333340;
}

section
{
	padding:100px;
}

/* Classes */

.main
{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: linear-gradient(to right, #000000, #000000);
}

.logo
{
	flex-basis: 20%;
}

.logo img
{
	width: 150px;
}

.navLinks
{
	flex: 1;
	text-align: right;
}

.navLinks ul li
{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.navLinks ul li a
{
	color: #ffffff;
	text-decoration: none;
}

.home
{
	position: relative;
	min-height: 100vh;
	background: url(./Assets/Righteous.png);
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.home h2
{
	font-size: 3em;
	color: #ffffff;
	font-weight: 500;
	line-height: 1.5em;
}
.home h2 span
{
	font-size: 1.5em;
	font-weight: 700;
}

.home h3
{
	font-size: 1.5em;
	color: #ffffff;
	font-weight: 500;
	line-height: 1.5em;
}

.navButton
{
	background: #2190f5;
	display: inline-block;
	color: #ffffff;
	margin-top: 20px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
	
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	transition: all 0.5s;
}
.navButton span
{
	display: inline-block;
	transition: 0.5s;
	position: relative;
	text-align:center;
}
.navButton span:after
{
	content: '\2192';
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
	position: absolute;
	opacity: 0;
	right: -35px;
	transition: 0.5s;
}
.navButton:hover span
{
	padding-right: 25px;
}
.navButton:hover span:after
{
	opacity: 1;
	right: 0;
}

.heading
{
	width: 100%;
	text-align: center;
	font-size: 32px;
	margin-bottom: 30px;
	color: #111111
}

.content
{
	display: flex;
	justify-content: space-between;
}

.contentBox h2
{
	font-size: 24px;
	margin-bottom: 10px;
	text-align: center;
}
.contentBox h3
{
	font-size: 24px;
	margin-bottom: 10px;
}

.halfDiv
{
	min-width: 50%;
}

.standardImage
{
	max-width: 100%;
	margin-left: 100px;
}

.cvButton
{
	position: absolute;
	background: #f59021;
	display: inline-block;
	color: #ffffff;
	margin-left: 15px;
	margin-top: 20px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
	
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	transition: all 0.5s;
}
.cvButton span
{
	display: inline-block;
	transition: 0.5s;
	position: relative;
	text-align:center;
}
.cvButton span:after
{
	font-size: 18px;
}
.cvButton:hover span
{
	font-size: 20px;
}
.cvButton:hover span:after
{
	font-size: 18px;
}

.skillsSection
{
	padding-left: 20%;
}

.skillsSection h2
{
	text-align: center;
}


.progressBar
{
	padding-bottom: 15px;
}

.progressBarBG 
{
  width: 100%;
  background-color: grey;
}

.backEndBar 
{
  width: 0%;
  height: 3px;
  background-color: #ff0000;
}
.backEndBar.animate
{
	animation-name: backEndAnim;
	animation-duration: 0.75s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.frontEndBar 
{
  width: 0%;
  height: 3px;
  background-color: #00ff00;
}
.frontEndBar.animate
{
	animation-name: frontEndAnim;
  animation-duration: 0.85s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.gameDesignBar 
{
  width: 0%;
  height: 3px;
  background-color: #0000ff;
}
.gameDesignBar.animate
{
  animation-name: gameDesignAnim;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.shadersBar 
{
  width: 0%;
  height: 3px;
  background-color: #ff00ff;
}
.shadersBar.animate
{
  animation-name: shadersAnim;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* Keyframes */
@keyframes backEndAnim{
	0%{
		width: 0%;
	}
	100%{
		width: 85%;
	}
}

@keyframes frontEndAnim
{
	0%
	{
		width: 0%;
	}
	100%
	{
		width: 35%;
	}
}	

@keyframes gameDesignAnim
{
	0%
	{
		width: 0%;
	}
	100%
	{
		width: 75%;
	}
}	

@keyframes shadersAnim
{
	0%
	{
		width: 0%;
	}
	100%
	{
		width: 70%;
	}
}	