:root{
	--buttonWidth: clamp(12rem, 25vw, 17rem);
	--buttonHeight: clamp(3rem, 6vw, 4rem);
}

/* NAV BUTTON */
.navButton{
	display: flex;             
	align-items: center;        
	justify-content: center;   

	background: var(--themeColor_1);
	color: var(--textColor_Light);
	font-size: var(--textSize_Big);

	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	
	width: var(--buttonWidth);
	height: var(--buttonHeight);
	transition: all 0.5s;
}
.navButton span{
	display: inline-block;
	transition: 0.5s;
	position: relative;
	text-align:center;
}
.navButton span:after{
	content: '\203A';		/* › */
	font-size: var(--textSize_Default);
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	position: absolute;
	top: 50%;
 	transform: translateY(-50%);
	opacity: 0;
	right: -35px;
	transition: 0.5s;
}
.navButton:hover span
{
	padding-right: 2rem;
}
.navButton:hover span:after
{
	opacity: 1;
	right: 0;
}

/* CV BUTTON */

.cvButton
{
	display: flex;             
	align-items: center;        
	justify-content: center;   

	background: var(--themeColor_2);
	color: var(--textColor_Light);
	font-size: var(--textSize_Big);

	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	
	width: var(--buttonWidth);
	height: var(--buttonHeight);
	transition: all 0.5s;
}
.cvButton span
{
	margin-top: 1rem;
	margin-bottom: 1rem;

	display: inline-block;
	transition: 0.5s;
	position: relative;
	text-align:center;
}

.cvButton:hover span
{
	font-size: calc(var(--textSize_Big) * 1.1);
}

@media (max-width: 650px) {
	.navButton{
		display: none;
	}
}