.contactCard {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    width: min(100%, 30rem);
    height: auto;
    
    margin: 2rem;
    padding: 1.5rem;

    background: var(--bodyColor_Foreground);
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.6rem var(--shadowColor);
}
  
.contactCard img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 0.25rem 0.6rem var(--shadowColor);
}

.contactCard h1{
    font-size: var(--textSize_Big);
}
.contactCard h2{
    font-size: var(--textSize_Default);
}

.contactCard .address, .contactCard i{
    text-decoration: none;
    color: var(--textColor_Secondary);
}

.contactCard .linkedin{
    display: flex;
    flex-direction: row;
    margin-top: 0.75rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    background-color: #0077b5;
    text-decoration: none;
}

.contactCard .linkedin:hover{
    background-color: #005887;
}

.contactCard .linkedin i, .contactCard .linkedin p{
    color: var(--textColor_Light);
    font-size: var(--textSize_Default);
    font-weight: bold;
    margin-right: 0.5rem;
}

.contactButton{
    display: flex;
    flex-direction: row;
    margin-top: 0.75rem;
    padding: 0.7rem;
    border-radius: 1.5rem;
    background-color: var(--bodyColor_Foreground);
    text-decoration: none;
    box-shadow: 0 0.25rem 0.6rem var(--shadowColor);
}

.contactButton i{
    color: var(--themeColor_2);
    font-size: var(--textSize_Default);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.contactButton p{
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.contactButton:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.4rem 1rem var(--themeColor_2);
}