/* --- VARIABLES -------------------------------------------------------------------------------------------- */

:root
{	
	--bodyColor_Background: #f1f1f1;
	--bodyColor_Middleground: #d6d6d6;
	--bodyColor_Foreground: #FFFFFF;
	--footerColor: #464646;
	
	--textColor_Primary: #252525;
	--textColor_Secondary: #595959;
	--textColor_Light: #F0F0F0;

	--themeColor_1: #1c3244;
	--themeColor_2: #f2ba45;

	--shadowColor:#00000035;
	--shadowColor_Dark:#00000080;

	--textSize_Small: clamp(0.8rem, 1.6vw, 1.2rem);
	--textSize_Default: clamp(1rem, 2vw, 1.5rem);
	--textSize_Big: clamp(1.2rem, 2.4vw, 1.8rem);

	--titleSize_Small: clamp(1.7rem, 3vw, 2.5rem);
	--titleSize_Default: clamp(2rem, 3.4vw, 3rem);
	--titleSize_Big: clamp(2.3rem, 3.9vw, 3.5rem);
}

/* Dark theme colors */

.darkTheme{
	--bodyColor_Background: #1D1D1D;
	--bodyColor_Middleground: #505050;
	--bodyColor_Foreground: #303030;
	--footerColor: #505050;
	
	--textColor_Primary: #F1F1F1;
	--textColor_Secondary: #bfbfbf;
	--textColor_Light: #F0F0F0;
	
	--themeColor_1: #376285;
	--themeColor_2: #eda60d;

	--shadowColor:#00000098;
	--shadowColor_Dark: #000000cc;
}

/* --- STYLES -------------------------------------------------------------------------------------------- */

*{
	margin: 0;
	padding: 0;
	font-family: Gudea, sans-serif;
	box-sizing: border-box;
	transition: 0.3s;
	scroll-behavior: smooth;
}

body{
	background-color: var(--bodyColor_Background);
}

header{
	background: var(--themeColor_1);
	z-index: 1000000;
	position: fixed;
	padding: 0.7rem;
	width: 100%;

	box-shadow: 0 5px 10px var(--shadowColor_Dark);
}

header h1{
	color: var(--themeColor_2);
	font-size:var(--textSize_Big);
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4rem 7rem 2rem 7rem;
	height: auto;
}

h1{
	color: var(--themeColor_1);
	font-size: var(--titleSize_Big);
}

h2{
	color: var(--themeColor_2);
	font-size: var(--titleSize_Default);
}

h3{
	color: var(--textColor_Primary);
	font-size: var(--titleSize_Small);
}

p{
	color: var(--textColor_Primary);
	font-size: var(--textSize_Default);
}

small{
	color: var(--textColor_Secondary);
	font-size: var(--textSize_Small);
}

/* --- Classes ----------------------------------------------------------------------------------------------------- */

.horizontal-container{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.vertical-container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.paragraph{
	display: flex;
	flex-direction: column;
	width: 50%;
}

.decoration{
	display: flex;
	flex-direction: column;
	width: 50%;
}

.subcategoryTitle{
	margin-top: 2rem;
}

/* --- Header --- */

#headerButtons{
	display: flex;
	flex-direction: row;
	margin-left: 1.5rem; 
	justify-content: space-between; 
	gap: 1rem;
}

.headerButton{
	color: var(--textColor_Light);
	font-size: var(--textSize_Big);
}

.headerButton :hover{
	color: var(--themeColor_2);
}

/* --- Navigation --- */

#navigation{
    display: flex;
	list-style: none;
	gap: 1.2rem;
}

#navigationOption {
	display: none;
	font-size: var(--textSize_Big);
	color: var(--textColor_Light);
	cursor: pointer;
}

.navigationButton{
	color: var(--textColor_Light);
	text-decoration: none;
	font-size: var(--textSize_Big);
	transition: 0.1s;
	font-weight: 500;
}

.navigationButton:hover{
	color: var(--themeColor_2);
	transition: 0.1s;
}

/* --- Home --- */

#home
{
	height: 100vh;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}


/* --- Contacts --- */
#contacts{
	height: 100vh;
}

/* --- Footer ---*/

footer{
	background-color: var(--footerColor);
	width: 100%;
	height: auto;
	
	position: relative;

	padding: 0.3rem;
}

footer p, footer small{
	color: var(--textColor_Light);
}

/* Back to top button */
footer a{
	position: absolute;
	left: calc(50% - 2rem);
	bottom: 65%;

	width: 4rem;
	background: var(--themeColor_1);
	color: var(--textColor_Light);
	padding: 0.5rem 1rem;
	text-decoration: none;
	text-align: center;
	box-shadow: 0 2px 5px var(--shadowColor_Dark);
	
	transition: 0.3s;
}

footer a:hover{
	transform: translateY(-5px);
	color: var(--themeColor_2);
}

@media (max-width: 1000px) {
	section {
		padding: 3rem 1rem 1.5rem 1rem;
	}

	#navigationOption {
		display: block;
	}

	#navigation {
		display: none;
		flex-direction: column;
		background: var(--bodyColor_Middleground);
		padding: 1rem;
		position: absolute;
		top: 3.5rem;
		right: 1rem;
		border-radius: 0.5rem;
		box-shadow: 0 0 10px var(--shadowColor);
	  }

	#navigation.show {
		display: flex;
	}

	.navigationButton{
		color: var(--textColor_Primary);
		font-size: bolder;
	}

	.paragraph{
		width: 70%;
	}

	.decoration{
		width: 30%;
	}
}

@media (max-width: 650px) {
	.paragraph{
		width: 100%;
	}

	.decoration{
		width: 0%;
		display: none;
	}
}