:root
{
	--backgroundColor: #1D1D1D;
	--middlegroundColor: #3D3D3D;
	--foregroundColor: #AAAAAA;
	--headerBackgroundColor: #003340;
	
	--regularTextColor: #F1F1F1;
	--faintTextColor: #0088a5;
	--navLinksColor: #FFFFFF;
	
	--themeColor: #001151;
	
	/*Dark theme colors*/
	--backgroundColor_dark: #F1F1F1;
	--middlegroundColor_dark: #F8F8F8;
	--foregroundColor_dark: #FFFFFF;
	--headerBackgroundColor_dark: #003340;
	
	--regularTextColor_dark: #1D1D1D;
	--faintTextColor_dark: #0088a5;
	--navLinksColor_dark: #D1D1D1;
	
	--themeColor_dark: #B1B100;
}

*
{
	margin: 0;
	padding: 0;
	font-family: Gudea, sans-serif;
	box-sizing: border-box;
	transition: 0.5s;
}

html 
{
	scroll-behavior: smooth;
}

header
{
	z-index: 1000000;
	position: fixed;
	
	
	width: 100%;
	padding-top: 15px;
	transition: 0.4s;
}

header.sticky
{
	background: var(--headerBackgroundColor);
	padding-top: 0px;
	
	box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
}

nav
{
	top: 0;
	
	padding-left: 0px;
	padding-right: 50px;
	
	justify-content: space-between;
	align-items: center;
	
	display: flex;
	height: 5vh;
	width: 100vw;
	
	transition: 0.5s;
}

section
{
	padding:100px;
	background-color: var(--backgroundColor);
}

address
{
	font-size: 1.2em;
}
address a
{
	text-decoration: none;
	color: #DADADA;
	
	display: block;
}
address a span
{
	border-bottom: 1px dotted var(--regularTextColor);
}

footer
{
	background-color: #000000;
	width: 100%;
	height: 100%;
	
	padding: 15px 25px;
	
	color: #FFFFFF;
}

/* Classes */

.themeButton
{
	position: fixed;
	bottom: 0.5%;
	right: 0.5%;
	z-index: 100000;
	
	color: var(--regularTextColor);
	font-size: 1.5em;
}
.themeButton :hover
{
	color: var(--themeColor);
}

.logo
{
	flex-basis: 20%;
}

.logo img
{
	width: 150px;
}

.navLinks ul
{
	width: 100%;
	display: flex;
	position: relative;
}

.navLinks ul li
{
	position: relative;
	list-style: none;
	margin: 0 20px;
	width: 100px;
	
	transition: 0.5s;
}

.navLinks ul li a
{
	position: relative;
	display: inline-block;
	color: var(--navLinksColor);
	text-decoration: none;
	transition: 0.1s;
}

.navLinks ul li a:hover
{
	color: #ffcc00;
	transition: 0.1s;
}

.collapsibleHeader
{
	padding: 0 20px;
	max-height: 0;
	overflow: hidden;
	display: flex;
	
	transition: max-height 0.2s ease-out;
}
.collapsibleHeader h2
{
	font-size: 1.3em;
	color: var(--faintTextColor);
	font-weight: 900;
	line-height: 1.5em;
}
.collapsibleHeader h3
{
	font-size: 1.3em;
	color:#bbbbbb;
	font-weight: 500;
	line-height: 1.2em;
	text-align: center;
	line-height: 30px;
}

.cursor
{
	padding: 0 2px;
	margin: 5px 10px;
	background-color: #ffffff;
	
	animation: blink 1s steps(5, start) infinite;
	-webkit-animation: blink 1s steps(5, start) infinite;
}

.socialMedia
{
	margin-left: auto;
	margin-right: 0;
	margin-top: auto;
	margin-bottom: 0;
}

.socialMedia a 
{
	font-size: 1.5em;
	padding-left: 5px;
	color: var(--navLinksColor);
}
.socialMedia a :hover
{
	transition: 0.25s;
}

.emailLink :hover
{
	color: #768A0E;
}

.githubLink :hover
{
	color: #0E0E0E;
}

.linkedinLink :hover
{
	color: #0E768A;
}
	
.home
{
	background: url(../Assets/Righteous.png);
	background-size: cover;
	background-position: right;
	display: flex;
	height: 100vh;
	justify-content: space-between;
	align-items: center;
}
.home h2
{
	font-size: 3em;
	color: var(--regularTextColor);
	font-weight: 500;
	line-height: 1.5em;
}
.home h2 span
{
	font-size: 1.5em;
	font-weight: 700;
}
.home h3
{
	font-size: 1.5em;
	color: var(--regularTextColor);
	font-weight: 500;
	line-height: 1.5em;
}

.aboutMe
{
	position: relative;
	min-height: 100vh;
}

.heading
{
	width: 100%;
	text-align: center;
	font-size: 32px;
	margin-bottom: 30px;
	color: var(--regularTextColor);
}

.content
{
	display: flex;
	justify-content: space-between;
	
	color: var(--regularTextColor);
}

.contentBox h2
{
	font-size: 24px;
	margin-bottom: 10px;
	text-align: center;
}
.contentBox h3
{
	font-size: 24px;
	margin-bottom: 10px;
}

.halfDiv
{
	min-width: 50%;
}

.standardImage
{
	max-width: 100%;
	margin-left: 100px;
}

.skillsSection
{
	padding-left: 20%;
}

.skillsSection h2
{
	text-align: center;
}

.projects
{
	position: relative;
	min-height: 100vh;
	background-color: var(--backgroundColor);
}

.contacts
{
	position: relative;
	min-height: 100vh;
	background-color: var(--foregroundColor);
}

.emailFormBox
{
	min-width: 60%;
}
.emailFormBox form
{
	display: flex;
	flex-direction: column;
}
.emailFormBox form h3
{
	color: regularTextColor;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}
.emailFormBox form input,
.emailFormBox form textarea
{
	margin-bottom: 20px;
	padding: 15px;
	font-size: 16px;
	border: none;
	outline:none;
	background: var(--middlegroundColor);
	color: var(--regularTextColor);
}
.emailFormBox form textarea
{
	min-height: 200px;
}
.emailFormBox form input::placeholder,
.emailFormBox form textarea::placeholder
{
	color: #00a3a3;
}
.emailFormBox form input[type="submit"]
{
	max-width: 100px;
	background: #008888;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.invButton
{
	background-color: transparent;
	border-color: transparent;
	font-size: 1em;
	cursor: pointer;
	
	color: var(--regularTextColor);
}

.tooltip 
{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltipText 
{
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  cursor: pointer;
 
  position: absolute;
  z-index: 1;
  transition: 0s;
}

.tooltip .tooltipText .invButton
{
	color: #FFFFFF;
	cursor: pointer;
}
.tooltip:hover .tooltipText 
{
  visibility: visible;
  transition: 0s;
  cursor: pointer;
}

.tooltip .tooltipText::after 
{
  content: " ";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  cursor: pointer;
}

.whatsappIcon,
.telegramIcon
{
	border-bottom: none;
	color: #444444;
	font-size: 4em;
	margin: 0 15px 0 0;
	display: inline-block;
}

.whatsappIcon :hover
{
	color: #23D366;
}

.telegramIcon :hover
{
	color: #00BBCC;
}

/* Animation */
@keyframes blink
{
	to { visibility: hidden; }
}
@-webkit-keyframes blink
{
	to { visibility: hidden; }
}

/* Responsive section*/
@media (max-width: 900px)
{
	nav
	{
		padding-left: 0px;
		padding-right: 25px;
		transition: 0.5s;
	}
	.navLinks ul li
	{
		width: 75px;
		transition: 0.5s;
	}
}

@media (max-width: 700px)
{
	.navLinks ul
	{
		position: fixed;
		top: 0;
		right: 0;
		display: block;
		text-align: center;
		padding: 25vh -50px;
		width: 100px;
		
		right: -100%;
		
		background: #000000;
		transition: 0.5s;
		
		border-top: calc(6vh + 30px) solid rgba(0,0,0,0.2);
	}
	
	.navLinks select
	{
		display: block;
		text-align: center;
		padding: 0 25px;
	}
	.menuToggle
	{
		width: 100%;
		height: 40px;
		
		background: url(../Assets/T_MenuToggle.png);
		background-position: right;
		background-repeat: no-repeat;
		background-size: 30px;
		
		cursor:pointer;
	}
	.menuToggle.active
	{
		background: url(../Assets/T_MenuClose.png);
		background-position: right;
		background-repeat: no-repeat;
		background-size: 30px;
		z-index: 10000000;
	}
	
	.navMenu.active
	{
		right: 0;
	}
}