.cardContainer {
    display: flex;
    gap: clamp(1rem, 2vw, 1.5rem);
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 2rem;
}
  
.cardContainer .card {
    background: var(--bodyColor_Foreground);
    padding: clamp(1rem, 2vw, 1.5rem);
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.6rem var(--shadowColor);
    text-align: center;
    width: clamp(11rem, 20vw , 15rem);
    height: clamp(9rem, 18vw, 14rem);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
}
  
.cardContainer .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.4rem 1rem var(--themeColor_2);
}
  
.cardContainer .card i {
    font-size: var(--titleSize_Small);
    margin-bottom: clamp(0.4rem, 1.5vw, 1rem);
    color: var(--themeColor_1);
}
  
.cardContainer .card p {
    margin-bottom: clamp(0.2rem, 0.75vw, 0.5rem);
    font-weight: bold;
}
  
